     <%-include("../includes/header")%>
     <br>
     <br>
     <div class="container-flude">
     <H1>Home page</H1>
        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptates rem ratione, doloremque non sed nesciunt quo, consequatur, adipisci excepturi commodi dicta eos! Accusamus id impedit nam, rerum velit corrupti.
</h6>    
</div>
      <%-include("../includes/footer") %> 


      <table class="table table-info table-hover ">
            <tr>
                  <td>full name</td>
                  <td><%-name1%></td>
            </tr>
            <tr>
                  <td>city</td>
                  <td><%-city%></td>
            </tr>
            <tr>
                  <td>contact</td>
                  <td><%-con%></td>
            </tr>
      </table>